<p id="notice"><%= notice %></p>

<script src="//fast.wistia.com/embed/medias/j38ihh83m5.jsonp" async></script>
<script src="//fast.wistia.com/assets/external/E-v1.js" async></script>

<div class="row">
  <div class="col m3">
    <div class="collection">
      <ul class="collection">
        
<div class="wistia_embed wistia_async_j38ihh83m5" style="height:349px;width:620px">&nbsp;</div>
      </ul>
    </div>
  </div>
  <div class="col m9">

  </div>
</div>

